#container{
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 30px;
}
#container>div{
    margin-top: 20px;
}
div>img{
    width: 100%;
}
#price{
    display: inline;
}
#strikedOff{
    display: inline;
    margin-left: 20px;
    text-decoration: line-through;
}
button{
    display: block;
    margin-top: 10px;
}